<div class="card">
  <div class="title">
    <h2> <span class="normal">Id: </span> _id </h2>
  </div>
  <div class="card-body">
    <h4> <span class="normal">Fullname: </span>  _firstname  _lastname </h4>
    <p> Email: <span class="bold"> _email </span></p>
  </div>
</div>